{{- /* Footer custom content area start */ -}}
{{- /*     Insert any custom code web-analytics, resources, etc. here */ -}}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3579484168601890"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-3579484168601890"
     data-ad-slot="2118230987"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{- /* Footer custom content area end */ -}}
