{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
<script src="https://www.googleoptimize.com/optimize.js?id=OPT-5KTXN47"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7M7W9YSRB1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-7M7W9YSRB1');
</script>

{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
